<div class="footer-dots">
  <div class="btn-group" routerLink="/pages/general-view">
    <button type="button" ngbTooltip="Vue generale des donnees" placement="top-right"
            class="btn btn-link dot-btn-wrapper dropdown-toggle-no-caret" >
      <span>
        <i class="dot-btn-icon lnr-map icon-gradient bg-mean-fruit"></i>
        <div class="badge badge-dot badge-abs badge-dot-sm badge-danger">Notifications</div>
      </span>
    </button>
  </div>
  <div class="dots-separator"></div>
  <div class="btn-group" routerLink="/pages/histogram-collecte">
    <button type="button" ngbTooltip="Histogramme des collectes" placement="top-right"
            class="btn btn-link dot-btn-wrapper dropdown-toggle-no-caret" >
      <span>
        <i class="dot-btn-icon lnr-pie-chart icon-gradient bg-love-kiss"></i>
        <div class="badge badge-dot badge-abs badge-dot-sm badge-warning">Notifications</div>
      </span>
    </button>
  </div>
  <div class="dots-separator"></div>
  <div class="btn-group" routerLink="/pages/diagram-comparatif">
    <button type="button" ngbTooltip="Diagramme comparatif des collectes" placement="top-right"
            class="btn btn-link dot-btn-wrapper dropdown-toggle-no-caret" >
      <span>
        <i class="dot-btn-icon lnr-chart-bars icon-gradient bg-love-kiss"></i>
        <div class="badge badge-dot badge-abs badge-dot-sm badge-warning">Notifications</div>
      </span>
    </button>
  </div>
</div>
