<app-page-title [heading]="'CommunTranslate.Region.heading' | translate " [subheading]="'CommunTranslate.Region.subheading' | translate" [icon]="icon"></app-page-title>


<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSaveRegion(f.value)" novalidate>
  <div class="mb-3 card">
    <div class="card-header-tab card-header">
      <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
        <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
        {{'CommunTranslate.Region.labelTitreFormulaire' | translate}}
      </div>
      <div class="btn-actions-pane-right text-capitalize">
        <button type="submit" class="btn btn-info btn-lg" [disabled]="f.invalid">{{labelButtonSave}}</button>&nbsp;
        <button *ngIf="labelButtonSave!='Enregistrer'" class="btn btn-danger btn-lg" (click)="cancelAction()">
          {{'CommunTranslate.Region.Annuler' | translate}}
        </button>
      </div>
    </div>
    <div class="form-row" style="padding: 15px;">
      <div class="col-md-4">
        <div class="position-relative form-group">
          <label for="libelleRegionFR" class="">{{'CommunTranslate.Region.LibelleRegion' | translate}} (FR)*</label>
          <select #libelleRegionFR="ngModel"
                  id="libelleRegionFR"
                  value="{{valeurSLibelleRegionFR}}"
                  type="text"
                  class="form-control"
                  name="libelleRegionFR"
                  ngModel="{{valeurSLibelleRegionFR}}"
                  required="required">
            <option value="{{null}}" [selected]="true">{{'CommunTranslate.Region.SelectionnerRegionFrancais' | translate}}..</option>
            <option value="Adamaoua">Adamaoua-Cameroun</option>
            <option value="Centre">Centre-Cameroun</option>
            <option value="Est">Est-Cameroun</option>
            <option value="Extreme-Nord">Extreme-Nord-Cameroun</option>
            <option value="Littoral">Littoral-Cameroun</option>
            <option value="Nord">Nord-Cameroun</option>
            <option value="Nord-Ouest">Nord_Ouest-Cameroun</option>
            <option value="Ouest">Ouest-Cameroun</option>
            <option value="Sud">Sud-Cameroun</option>
            <option value="Sud-Ouest">Sud_Ouest-Cameroun</option>
          </select>
          <small *ngIf="libelleRegionFR.touched && libelleRegionFR.invalid" style="color: red">
            {{'RecurentWord.SelectionObligatoire' | translate}}</small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="position-relative form-group">
          <label for="libelleRegionEN" class="">{{'CommunTranslate.Region.LibelleRegion' | translate}} (EN)*</label>
          <select #libelleRegionEN="ngModel"
                  value="{{valeurSLibelleRegionEN}}"
                  id="libelleRegionEN"
                  class="form-control"
                  name="libelleRegionEN"
                  ngModel="{{valeurSLibelleRegionEN}}"
                  required="required">
            <option value="{{null}}" [selected]="true">{{'CommunTranslate.Region.SelectionnerRegionAnglais' | translate}}..</option>
            <option value="Adamawa">Adamawa-Cameroon</option>
            <option value="Center">Center-Cameroon</option>
            <option value="East">East-Cameroon</option>
            <option value="Far-North">Far_North-Cameroon</option>
            <option value="Littoral">Littoral-Cameroon</option>
            <option value="North">North-Cameroon</option>
            <option value="Northwest">Northwest-Cameroon</option>
            <option value="South">South-Cameroon</option>
            <option value="Southwest">Southwest-Cameroon</option>
            <option value="West">West-Cameroon</option>
          </select>
          <small *ngIf="libelleRegionEN.touched && libelleRegionEN.invalid" style="color: red">
            {{'RecurentWord.SelectionObligatoire' | translate}}
            </small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="position-relative form-group">
          <label for="codeRegion" class="">{{'CommunTranslate.Region.codeRegionLabel' | translate}}*</label>
          <select #codeRegion="ngModel"
                  id="codeRegion"
                  value="{{valeurSCodeRegion}}"
                  class="form-control"
                  name="codeRegion"
                  ngModel="{{valeurSCodeRegion}}"
                  required="required"
                  type="text">
            <option value="{{null}}" [selected]="true">{{'CommunTranslate.Region.SelectionnerCodeCorrespondant' | translate}}..</option>
            <option value="CM.AD">{{'CommunTranslate.Region.SelectionnerRegionFrancais' | translate}}(CM.AD)</option>
            <option value="CM.CE">{{'CommunTranslate.RegionsCameroon.CentreCameroun' | translate}}(CM.CE)</option>
            <option value="CM.ES">{{'CommunTranslate.RegionsCameroon.EstCameroun' | translate}}(CM.ES)</option>
            <option value="CM.EN">{{'CommunTranslate.RegionsCameroon.ExtremeNordCameroun' | translate}}(CM.EN)</option>
            <option value="CM.LT">{{'CommunTranslate.RegionsCameroon.LittoralCameroun' | translate}}(CM.LT)</option>
            <option value="CM.NO">{{'CommunTranslate.RegionsCameroon.NordCameroun' | translate}}(CM.NO)</option>
            <option value="CM.NW">{{'CommunTranslate.RegionsCameroon.NordOuestCameroun' | translate}}(CM.NW)</option>
            <option value="CM.SU">{{'CommunTranslate.RegionsCameroon.SudCameroun' | translate}}(CM.SU)</option>
            <option value="CM.OU">{{'CommunTranslate.RegionsCameroon.OuestCameroun' | translate}}(CM.OU)</option>
            <option value="CM.SW">{{'CommunTranslate.RegionsCameroon.SudOuestCameroun' | translate}}(CM.SW)</option>
          </select>
          <small *ngIf="codeRegion.touched && codeRegion.invalid" style="color: red">{{'RecurentWord.SelectionObligatoire' | translate}}</small>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="mb-3 card">
  <div class="card-header-tab card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
      <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
      {{'CommunTranslate.Region.labelTitreTableau' | translate}}
    </div>
    <div class="btn-actions-pane-right text-capitalize">
      <input class="form-control" type="text" placeholder="Search..." [(ngModel)]="term"/>
    </div>
  </div>
  <div class="no-gutters row">
    <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered data-export">
      <thead>
      <tr>
        <th style="font-weight: bold">#</th>
        <th>{{'CommunTranslate.Region.codeRegionLabel' | translate}}</th>
        <th>{{'CommunTranslate.Region.LibelleRegion' | translate}} (FR)</th>
        <th>{{'CommunTranslate.Region.LibelleRegion' | translate}} (EN)</th>
        <th style="width: 25px;">
          <button class="btn"><i class="fa fa-edit"></i></button>
        </th>
        <th style="width: 25px;">
          <button class="btn"><i class="fa fa-trash"></i></button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor=" let itemregions of listRegion | filter : term; let i = index">
        <td style="font-weight: bold">{{i+1}}</td>
        <td>
          <div class="custom-control custom-radio">
            <input #objElementStaDefault="ngModel"
                   type="radio"
                   id="customRadio{{i}}"
                   name="customRadio"
                   value="{{itemregions.id}}"
                   ngModel="{{itemregions.elementStatDefault}}"
                   class="custom-control-input"
                   (change)="onDefineRegionAfficheFirst(objElementStaDefault.value)"
            >
            <label class="custom-control-label" for="customRadio{{i}}">{{itemregions.codeRegion}}</label>
          </div>
        </td>
        <td>{{itemregions.libelleRegionFR}}</td>
        <td>{{itemregions.libelleRegionEN}}</td>
        <td>
          <button title="{{'CommunTranslate.Region.titreBoutonEdit' | translate}}" class="btn btn-info" (click)="onSelectRegion(itemregions)"><i
            class="fa fa-edit"></i></button>
        </td>
        <td>
          <button title="{{'CommunTranslate.Region.titreBoutonDelete' | translate}}" class="btn btn-danger" (click)="onDeleteUser(itemregions.id)"><i
            class="fa fa-trash"></i></button>
        </td>
      </tr>
      </tbody>
      <tr>
        <td colspan="7">
          <ngb-pagination (pageChange)="onChangePageRecup($event)" maxSize="7" [collectionSize]="countItemAffcihe"
                          [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
        </td>
      </tr>
    </table>
  </div>
</div>

